* {
	box-sizing: content-box;
}

body {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	background: #1D1D1D;
	color: white;
	text-align: center;
    display: grid;
    grid-template-rows: 63px 1fr 176px;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
}

#comp {
    height: calc(100vh - 239px);
    overflow-y: auto;
}

@media only screen and (min-width: 1101px) {
    body {
        margin-left: calc(calc(100vw - 1100px) / 2);
        margin-right: calc(calc(100vw - 1100px) / 2);
    }
}

@media only screen and (max-width: 1100px) {
	body {
	    margin-left: calc(calc(100vw - 500px) / 2);
	    margin-right: calc(calc(100vw - 500px) / 2);
	}
	.raidcomp {
		margin-bottom: 10em;
		text-align: center;
		grid-template-columns: 2!important;
		grid-template-rows: 4!important;
		grid-template-areas: "total total"
							 "tanks healers"
							 "dps dps"
							 "ranged melee"!important;
	}
	.addplayer {
		padding: 3em;
	}

    #comp {
        height: unset;
        overflow-y: unset;
    }
}

@media only screen and (max-width: 500px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }

	.raidcomp {
		margin-bottom: 10em;
		text-align: center;
		grid-template-columns: 1!important;
		grid-template-rows: 6!important;
		grid-template-areas: "total"
							 "tanks"
							 "healers"
							 "dps"
							 "ranged"
							 "melee"!important;
	}
	.addplayer {
		padding: 3em;
	}
}

.player {
	border: solid 2px black;
	display: grid;
	width: 14em;
    grid-template-columns: 30px 1fr 30px;
    padding: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}

.player.gray {
    border-color: gray;
}

.player.red {
    border-color: red;
}

.player.orange {
    border-color: orange;
}

.player.green {
    border-color: green;
}

.addplayer > * {
	margin: 0.5em;
}

.spec img {
    width: 28px;
}

.addplayer {
	text-align: center;
	margin-bottom: 1em;
}

.player .delete {
	cursor: pointer;
}

.importBox {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #1D1D1D;
}

.importBox textarea {
	width: 100%;
	height: calc(100vh - 100px);
	padding: 3em;
	color: black;
}

.closeImport {
	background: black;
	position: fixed;
	right: 1em;
	top: 1em;
	width: 2em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

#import {
	background: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-size: 20pt;
}

.raidcomp {
	text-align: center;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 4;
	grid-template-rows: 2;
	grid-template-areas: "total total total total"
						 "tanks healers dps    dps  "
						 "tanks healers ranged melee";
}

.tanks {
	grid-area: tanks;
    justify-self: center;
}

.healers {
	grid-area: healers;
    justify-self: center;
}

.dps {
	grid-area: dps;
	align-self: center;
    justify-self: center;
}

.ranged {
	grid-area: ranged;
    justify-self: center;
}

.melee {
	grid-area: melee;
    justify-self: center;
}

.total {
	grid-area: total;
	justify-self: center;
}

footer {
	font-size: 14px;
	text-align: center;
}