<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WoW Raid Composition Tool</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">

	<script src="/static/functions.js"></script>
	<script src="/static/script.js"></script>
</head>
<body>
	<h2>Raid Composition Tool</h2>
	<div id="comp">
        <div class="raidcomp">
            <div class="total">
                <h3>Total</h3>
            </div>
            <div class="tanks">
                <h3>Tanks</h3>
            </div>
            <div class="healers">
                <h3>Healers</h3>
            </div>
            <div class="dps">
                <h3>DPS</h3>
            </div>
            <div class="ranged">
                <h3>Ranged</h3>
            </div>
            <div class="melee">
                <h3>Melee</h3>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="addplayer form form-inline">
            Name:
            <input class="form-control" type="text" id="playerName">
            Class:
            <select class="form-control" id="playerClass">
                <option value="0" disabled selected>Select a class</option>
            </select>
            Spec:
            <select class="form-control" id="playerSpec">
                <option value="" disabled selected>Select a spec</option>
            </select>
            Status:
            <select class="form-control" id="inviteStatus">
                <option value="0" disabled selected>Select a status</option>
                <option value="2">Accepted</option>
                <option value="9">Tentative</option>
                <option value="3">Declined</option>
            </select>
            <button class="btn btn-lg btn-default" type="button" id="playerAdd">Add</button>
            <br>
            <button class="btn btn-lg btn-default" type="button" id="showImport">Import</button>
            <button class="btn btn-lg btn-default" type="button" id="export">Export</button>
            <button class="btn btn-lg btn-success" type="button" id="saveComp">Save this composition</button>
            <button class="btn btn-lg btn-danger" type="button" id="resetComp">Reset</button>
        </div>

        <footer>
            Powered by <a href="https://nodejs.org/en/">NodeJS</a> and <a href="http://getbootstrap.com/">Bootstrap</a>
        </footer>
    </div>

	<div class="importBox">
		<div class="btn closeImport">X</div>
<textarea># import a raid composition
# lines marked with a '#' are considered comments
# example import:
# name;class;specid/specname
Albionna;priest;1
Albionna;priest;holy</textarea>
		<div id="import">
			Add Players
		</div>
	</div>
</body>
</html>